<%- include('partials/header.ejs') %>
<body>
    <header>
        <h1 id="title">wachat</h1>
    </header>
    <main>
    <h3>salas</h3>

    <hr>
    <div id="room-window">
        
    </div>
    

    <hr>
    <form action="/create" method="post">
        <input type="text" name="name">
        <br>
        <button type="submit">Criar</button>
    </form>
</main>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.2/socket.io.js"></script>
    <script>
        var room_window = document.getElementById('room-window')
        const url = "https://chat-rooms-2poe.onrender.com/"
        const socket = io(url)
        socket.on('allRooms',(allRooms)=>{
           
           let i=0
           console.log(allRooms)
           allRooms.allr.forEach(rooms=> {
            console.log(rooms)
              let a = document.createElement('a')
              a.href = '/room/'+i
              a.innerHTML = "<br>"+ allRooms.allRooms[i]
              i++
              room_window.append(a)
           });
        
        })
    </script>
</body>
</html>
