<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat</title>
</head>
<body>
    <h1>wachat</h1>
    <h3>salas</h3>

    <hr>
    <a href="/room">sala01</a>

    <hr>
    <form action="/create" method="post">
        <input type="text" name="name">
        <br>
        <button type="submit">Criar</button>
    </form>
</body>
</html>