<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>room</title>
</head>
<body>
    <h2>room -00</h2>
  
    <hr>

    <input type="text" name="" id="name" placeholder="seu nome">
    <br>
    <textarea name="" id="msg" cols="30" rows="10" placeholder="conteudo"></textarea>
    <br>
    <button type="submit" id="send">enviar</button>
    <hr>
    <h5>chat</h5>
    <div id="chat-window">

    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.2/socket.io.js"></script>
    <script>
        var send = document.getElementById('send')
        var wchat = document.getElementById('chat-window')
        send.addEventListener('click',()=>{
            let name = document.getElementById('name').value
            let msg = document.getElementById('msg').value
            socket.emit('msgs',({name,msg}))
            
        })
        const url = 'http://localhost:3000'
        var socket = io(url)
        socket.on('msg',(dados)=>{
            let newmsg = document.createElement('p')
            newmsg.innerHTML = '<br>'+dados.name+' '+dados.msg
            wchat.appendChild(newmsg)
        })
        
    </script>
</body>
</html>