    *{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    color: white;
    font-family: Arial;
}

body{
    background-color:  #1B1924;  
      
}
header{
    background-color:  #16151D;  
    padding: 10px; 
    margin: auto;
    

}

#title{
    font-size: 2em; 
    padding: 10px;
    font-weight: bold;
}
main{
    width: 80%;
    margin: auto;
}
input{
    width: 100%; 
    border: 1px solid #6c5ce7;
    border-radius: 3px;
    padding: 15px;
    background-color: #24243C;
    outline: none;
 }
 button{
    margin-top:10px;
    border: none;
    border-radius:7px;
    padding: 10px;
    color: white;
    background-color: #6c5ce7;
    font-size: 1em;
    
}
a{
    text-decoration: none;
    font-size: 1em;
    display: block;
    margin-bottom: 10px;
    border: 1px solid #6c5ce7;
    border-radius: 5px;
    padding: 20px;
}
#room-window{
    padding: 10px;
   
    border-radius: 5px;
}
#create-room-window{
    display: flex;
    align-items: center;
    gap: 1em;
    padding: 10px;
}
