<%- include('../partials/headerLogin.ejs') %>
 <main>
 <section class="login">
         
 
     <h1>Login</h1>
   <form action="" method="get" accept-charset="utf-8">
    <div id="input-pass">
       <input name="" id="msg"  placeholder="Email"></input>
     <button type="reset" id="">Reset</button>
     </div>
 
     <div id="input-pass">
       <input name="" id="msg"  placeholder="Password"></input>
     <button type="submit" id="send">Show</button>
     </div>
     
     <button type="submit" id="btn-login">Logar</button>
     
     
     <a href="#">Esqueci a senha</a>
     <a href="e Novo ? Cadastra-se">Novo ? Cadastra-se</a>
     
 </form>
   </section> 
 
 </main>
 <%- include('../partials/footer.ejs') %>