<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/room.css"/>
    <title>room</title>
    
</head>
<body>
        <header>
        <h1>  <%= name %></h1>
       
   
    </header>

<main>
    <h2>chat</h2>
    <div id="chat-window">
      

    </div>

    <input type="text" name="" id="name" placeholder="seu nome">
    <br>

    <div id="msg-send">
      <input name="" id="msg" cols="30" rows="10" placeholder="conteudo"></input>
    <button type="submit" id="send">Send</button>
    </div>

    

</main>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.2/socket.io.js"></script>
    <script>
        var send = document.getElementById('send')
        var wchat = document.getElementById('chat-window')

        send.addEventListener('click',()=>{
            let name = document.getElementById('name').value
            let msg = document.getElementById('msg').value
            socket.emit('msg-room<%= roomNumber %>',({name,msg}))
            
        })
        const url = 'http://localhost:3000'
        var socket = io(url)
        socket.on('msg-room<%= roomNumber %>',(dados)=>{
            let newmsg = document.createElement('p')
            newmsg.className = "p-msg"
            
            newmsg.innerHTML = dados.name+'-> '+dados.msg

            wchat.appendChild(newmsg)
        
        })

    </script>
</body>
</html>
